__pycache__/
*.pyc
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app
build.gradle.kts
gradle.properties
/gradle
gradlew
gradlew.bat
settings.gradle.kts
/.idea
/android
/.build
/ios/temp-gula
/ios/testgula.xcodeproj/project.xcworkspace
/ios
/testgula.xcodeproj
/flutter
/python
potato.sh
gula.sh
/ios_xcode16
/ios16
/jenkins-ios
/temp-gula
/android_ejemplo
/ejemplo
/flutter_moshimoshi
/ejemplo2
/example
/ejemplo_flutter
/develop6
/develop2
/develop
/ejemplo_ios
/ejemplo_android
/ejemplo_python
/ejemplo_fastapi
/ejemplo_python2
/ejemplo_python2
/ejemplo_android_5
/ejemplo_flutter_v2
/ejhemplo_flutter
